@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
html,
header{
    font-family: 'Times New Roman';

    al
 }
title{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-color: grey;
    background-color:white;
    font-family: 'Times New Roman';

    }
   

    nav {
        width: 100%;
        font-color: rgb(172, 171, 171);
    }
    
    
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        background-color:white;
        border-top-style:  solid; color:rgba(181, 181, 181, 0.981);
       border-bottom-style:solid;
        border-color:lightgray;
        
    }
    
    nav li {
        display: inline;
        margin-right: 15px;

    }
    
    nav a {
        font: size 15px;px;
        text-decoration: none;
        color: rgb(145, 152, 158);
        font-family: 'Times New Roman';

        
      
    }
    nav a:hover{
        color:black;
    }
    

    
  
    
    .current-page {
            font-family: 'Times New Roman';
        background-color:white;
    }
    
    main {
        font-family: 'Times New Roman';
        color:rgb(158, 158, 158);
  background{

  }

  
 
    }
    h1{ 
        text-align: center;

    }

    h2{
        text-align: left;
        color: black;
        background-color: white;
    }
    p{
        color:rgb(95, 95, 95);
        font-family: 'Times New Roman';
        background-color:white;
       
        
    }
   div section{
    display:inline-block;
    width:40%;
    padding:10
   
   }  
    

    
    h5{
        color: rgb(221, 20, 20);
    }
 nav ul{
    position:sticky;
    top:0;
  }
    